<div class="container-fluid">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="loginForm">
    <mat-form-field class="full-width">
      <input matInput [placeholder]="loginTexts.email[selectedLang]" formControlName="email"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [placeholder]="loginTexts.password[selectedLang]" formControlName="password" type="password"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">{{loginTexts.login[selectedLang]}}</button>
  </form>
</div>
