<div class="container-fluid">
  <form class="movie-form" [formGroup]="movieForm" (ngSubmit)="onSubmit()" *ngIf="movieForm">
    <mat-form-field class="full-width">
      <input matInput [placeholder]="moviesBsTexts.title[selectedLang]" formControlName="title"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select [placeholder]="moviesBsTexts.type[selectedLang]" formControlName="type" name="type">
        <mat-option *ngFor="let type of movieTypes" [value]="type">
          {{type.toUpperCase()}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" [placeholder]="moviesBsTexts.releaseDate[selectedLang]" formControlName="releaseDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [placeholder]="moviesBsTexts.photoUrl[selectedLang]" formControlName="photoUrl"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{moviesBsTexts.description[selectedLang]}}</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                formControlName="description">
      </textarea>
    </mat-form-field>
  <button mat-raised-button color="primary" type="submit">{{moviesBsTexts.submit[selectedLang]}}</button>
  </form>
  </div>
