.movie-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 5vw;
    min-height: 87vh;
}

.description {
    font-size: 15px;
    text-align: justify;
    padding: 0 20px;
}

.movie-div {
    padding: 10px 0;
}

.movie-div:nth-child(odd) {
    background: white;
}
  
.movie-div:nth-child(even) {
    background:whitesmoke;
}

.poster {
    margin: 0 auto;
    max-height: 442px;
    max-width: 300px;
}

mat-card-subtitle {
    text-transform: capitalize;
}

mat-card-header {
    min-width: 50%;
    text-align: left;
}

.admin-card {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 0 15px 0;
}

.button {
    margin: 0 !important;
}

.button-mid {
    margin: 0 3px !important;
}

.filter {
    max-width: 50%;
}