<div class="container-fluid">
  <!-- desktop -->
  <mat-card class="movie-card" fxHide.lt-sm="true">
    <mat-card-title class="title">{{moviesTexts.movies[selectedLang]}}</mat-card-title>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field class="filter">
        <input matInput [(ngModel)]="query" (ngModelChange)="filter()" [placeholder]="moviesTexts.filter[selectedLang]">
      </mat-form-field>
      <mat-card-actions *ngIf="user && user.role === 'admin'">
        <button mat-raised-button color="primary" (click)="openBottomSheet(null)">{{moviesTexts.add[selectedLang]}}</button>
      </mat-card-actions>
    </div>
    <div *ngFor="let movie of filteredMovies"  fxLayout="row" fxLayoutAlign="space-between center" class="movie-div mat-elevation-z8">
      <mat-card-header>
        <img class="header-image" [src]="movie.photoUrl" alt="">
        <div>
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>{{movie.releaseDate}} - {{movie.type}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button class="button" color="primary" (click)="selectMovie(movie._id)">{{moviesTexts.reviews[selectedLang]}}</button>
        <button mat-raised-button class="button-mid"color="accent" *ngIf="user && user.role === 'admin'" (click)="openBottomSheet(movie)">{{moviesTexts.edit[selectedLang]}}</button>
        <button mat-raised-button class="button" color="warn" *ngIf="user && user.role === 'admin'" (click)="deleteMovie(movie._id)">{{moviesTexts.delete[selectedLang]}}</button>
      </mat-card-actions>
    </div>
  </mat-card>

  <!-- mobile -->
  <mat-card class="movie-card" fxHide.gt-sm="true" fxHide.sm="true">
    <mat-card-title class="title">{{moviesTexts.movies[selectedLang]}}</mat-card-title>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field class="filter">
        <input matInput [(ngModel)]="query" (ngModelChange)="filter()" [placeholder]="moviesTexts.filter[selectedLang]">
      </mat-form-field>
      <mat-card-actions *ngIf="user && user.role === 'admin'">
        <button mat-raised-button color="primary" (click)="openBottomSheet(null)">{{moviesTexts.add[selectedLang]}}</button>
      </mat-card-actions>
    </div>
    <div *ngFor="let movie of filteredMovies" class="movie-div mat-elevation-z8">
      <mat-card-header fxLayout="row">
        <div>
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>{{movie.releaseDate}} - {{movie.type}}</mat-card-subtitle>
        </div>
        <span class="fill-remaining-space"></span>
        <img class="header-image mobile-header-image" [src]="movie.photoUrl" alt="">
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button class="button" color="primary" (click)="selectMovie(movie._id)">{{moviesTexts.reviews[selectedLang]}}</button>
        <button mat-raised-button class="button-mid"color="accent" *ngIf="user && user.role === 'admin'" (click)="openBottomSheet(movie)">{{moviesTexts.edit[selectedLang]}}</button>
        <button mat-raised-button class="button" color="warn" *ngIf="user && user.role === 'admin'" (click)="deleteMovie(movie._id)">{{moviesTexts.delete[selectedLang]}}</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
