<div fxLayout="column" fxLayoutAlign="space-around center">
  <mat-card-title>{{homeTexts.callToAction[selectedLang]}}</mat-card-title>
  <p class="description">{{homeTexts.description[selectedLang]}}</p>
  <img class="logo" src="../../assets/logo.png" alt="logo" routerLink="/movies">
  <button mat-raised-button color="warn" type="submit" routerLink="/movies">{{homeTexts.getStarted[selectedLang]}}</button>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <p class="url" routerLink="/login">{{homeTexts.signIn[selectedLang]}}</p>
    <p class="url" routerLink="/register">{{homeTexts.signUp[selectedLang]}}</p>
  </div>
</div>