img {
    width: 50%;
    height: auto;
    padding: 5vh 0;
}

div {
    padding-top: 10vw;
}

mat-card-title {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    color: #FF8F00;
    text-decoration: underline;
}