span.fill-remaining-space {
    flex: 1 1 auto;
}

.user-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 5vw;
    min-height: 87vh;
}

.description {
    font-size: 15px;
    text-align: justify;
    padding: 0 20px;
}

.poster {
    margin: 0 auto;
    max-height: 442px;
    max-width: 300px;
}

.admin-card {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 0 15px 0;
}

.button {
    margin: 0 !important;
}

.button-mid {
    margin: 0 3px !important;
}

.review {
    text-align: justify;
    margin: 10px 30px;
    padding-top: 10px;
}

.review-text {
    font-size: 15px;
    text-align: justify;
    padding: 20px 0;
}

mat-card-title {
    text-align: left;
}

.review-mobile {
    text-align: justify;
    padding: 10px 2vw;
    background: #fff;
    min-width: 287px;
    margin-top: 10px;
    text-align: left;
}

.review-text-mobile {
    font-size: 15px;
    text-align: justify;
    padding: 20px 0;
}

.reviews-title-mobile {
    font-size: 30px;
}

.reviews-mobile {
    margin: 20px auto;
    padding: 0;
}

.reviews-desktop {
    margin-top: 30px;
    padding: 20px 0;
}

.review-desktop {
    text-align: justify;
    margin: 10px 0;
    padding: 15px 20px;
    background: #fff;
    text-align: left;
}

.reviews-title-desktop {    
    margin-top: 15px;
    font-size: 30px;
}

.review-text-desktop {
    font-size: 15px;
    text-align: justify;
    padding: 20px 0;
}

.user-profile {
    width: 100%;
    overflow: auto;
    padding-top: 20px;
}

table {
    text-align: left;
    margin: 30px 5vw;
    max-width: 80vw;
}

td {
    padding: 5px 20px;
}