<div class="container-fluid">
<!-- mobile -->
  <mat-card class="movie-card" *ngIf="movie" fxHide.gt-sm="true">
    <mat-card-header class="movie-card-header-mobile">
      <div>
        <mat-card-title class="movie-title-mobile">{{movie.title}}</mat-card-title>
        <mat-card-subtitle class="movie-subtitle-mobile">{{movie.releaseDate}} | {{movie.type}}</mat-card-subtitle>
      </div>
      <span class="fill-remaining-space"></span>
      <div class="rating-mobile" *ngIf="reviews && reviews.length">
        {{getStars()}} / 5            
        <i class="rating-mobile material-icons">
          stars
        </i>
      </div>
    </mat-card-header>
    <mat-card-content class="movie-mobile">
      <img class="poster-mobile" mat-card-image [src]="movie.photoUrl" [alt]="movie.title">
      <p class="description-mobile">
        {{movie.description}}
      </p>
      <mat-card-actions *ngIf="user">
        <button
          mat-raised-button
          class="button-mid"
          color="primary"
          *ngIf="user.role !== 'admin'"
          (click)="openBottomSheet(null)"
          [disabled]="addedReview()">
          {{movieTexts.add[selectedLang]}}
        </button>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-content class="reviews-mobile" *ngIf="reviews && reviews.length">
      <p *ngIf="reviews.length" class="reviews-title-mobile">{{movieTexts.reviews[selectedLang]}}</p>
      <div class="review-mobile" *ngFor="let review of reviews">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <p class="link" (click)="goToUserProfile(review.user)">{{movieTexts.user[selectedLang]}}: {{review.user.firstName}} {{review.user.lastName}}</p>
          <span class="fill-remaining-space"></span>
          <i *ngFor="let i of arrayTwo(review.rating)" class="material-icons">
            stars
          </i>
        </div>
        <p class="review-text-mobile">
          {{review.comment}}
        </p>
        <mat-card-actions *ngIf="user">
          <button mat-raised-button class="button-mid" color="accent" *ngIf="review.user._id === user._id" (click)="openBottomSheet(review)">{{movieTexts.edit[selectedLang]}}</button>
          <button mat-raised-button class="button" color="warn" *ngIf="review.user._id === user._id || user.role === 'admin'" (click)="deleteReview(review._id)">{{movieTexts.delete[selectedLang]}}</button>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>

<!-- desktop -->
  <mat-card class="movie-card" *ngIf="movie" fxHide.lt-sm="true" fxHide.sm="true">    
    <mat-card-header class="movie-card-header-desktop">
      <div>
        <mat-card-title class="movie-title-desktop">{{movie.title}}</mat-card-title>
        <mat-card-subtitle class="movie-subtitle-desktop">{{movie.releaseDate}} | {{movie.type}}</mat-card-subtitle>
      </div>
      <span class="fill-remaining-space"></span>
      <div class="rating-desktop" *ngIf="reviews && reviews.length">
        {{getStars()}} / 5            
        <i class="rating-desktop material-icons">
          stars
        </i>
      </div>
    </mat-card-header>
    <div fxLayout="row" fxLayoutAlign="none">
      <div>
        <p class="description-desktop" fxLayout="column" fxLayoutAlign="space-between center" >
          {{movie.description}}
          <mat-card-actions *ngIf="user">
            <button
              mat-raised-button
              class="button-mid"
              color="primary"
              *ngIf="user.role !== 'admin'"
              (click)="openBottomSheet(null)"
              [disabled]="addedReview()">
              {{movieTexts.add[selectedLang]}}
            </button>
          </mat-card-actions>
        </p>
      </div>
      <img class="poster-desktop" mat-card-image [src]="movie.photoUrl" [alt]="movie.title">
    </div>
    <mat-card-content class="reviews-desktop" *ngIf="reviews && reviews.length">
      <p *ngIf="reviews.length" class="reviews-title-desktop">{{movieTexts.reviews[selectedLang]}}</p>
      <div class="review-desktop" *ngFor="let review of reviews">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <p class="link" (click)="goToUserProfile(review.user)">{{movieTexts.user[selectedLang]}}: {{review.user.firstName}} {{review.user.lastName}}</p>
          <span class="fill-remaining-space"></span>
          <i *ngFor="let i of arrayTwo(review.rating)" class="material-icons">
            stars
          </i>
        </div>
        <p class="review-text-desktop">
          {{review.comment}}
        </p>
        <mat-card-actions *ngIf="user">
          <button mat-raised-button class="button-mid" color="accent" *ngIf="review.user._id === user._id" (click)="openBottomSheet(review)">{{movieTexts.edit[selectedLang]}}</button>
          <button mat-raised-button class="button" color="warn" *ngIf="review.user._id === user._id || user.role === 'admin'" (click)="deleteReview(review._id)">{{movieTexts.delete[selectedLang]}}</button>
        </mat-card-actions>
      </div>
    </mat-card-content>
  </mat-card>
</div>
