span.fill-remaining-space {
    flex: 1 1 auto;
}

.movie-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 25px 5vw;
    min-height: 87vh;
}

mat-card-subtitle {
    text-transform: capitalize;
}


.movie-card-header-desktop {
    background: #1A237E;
    color: #fff;
    margin: 0;
    padding-top: 20px;
    padding-right: 30px;
    border-radius: 5px;
}

.description-desktop {
    font-size: 15px;
    text-align: justify;
    padding: 30px 60px;
    border-top-left-radius: 5px;
    border: 2px solid #000;
    height: 100%;
}

.movie-title-desktop {
    font-size: 40px;
}

.movie-subtitle-desktop {
    font-size: 25px;
    color: #E1F5FE;
    text-align: left;
}

.rating-desktop {
    font-size: 45px;
}

.poster-desktop {
    border-top-right-radius: 5px;
    border: 2px solid #000;
    margin: 0 auto;
    max-height: 442px;
    max-width: 300px;
    z-index: 500;
    width: auto;
    height: auto;
}

.reviews-desktop {
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 5px;
    border: 2px solid #000;
}

.review-desktop {
    text-align: justify;
    margin: 10px 30px;
    padding: 15px 20px;
    background: #C5CAE9;
    border-radius: 5px;
    border: 2px solid #000;
}

.reviews-title-desktop {    
    margin-top: 15px;
    font-size: 30px;
}

.review-text-desktop {
    font-size: 15px;
    text-align: justify;
    padding: 20px 0;
}

.button {
    margin: 0 !important;
}

.button-mid {
    margin: 0 3px !important;
}

.review-mobile {
    text-align: justify;
    padding: 10px 2vw;
    background: #C5CAE9;
    border-radius: 5px;
    border: 2px solid #000;    
    min-width: 287px;
    margin-top: 10px;
}

.review-text-mobile {
    font-size: 15px;
    text-align: justify;
    padding: 20px 0;
}

.reviews-title-mobile {
    font-size: 30px;
}

.reviews-mobile {
    margin: 20px auto;
    padding: 0;
}

.poster-mobile {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0 auto;
    max-height: 442px;
    max-width: 300px;
    z-index: 500;
    width: auto;
    height: auto;
}

.movie-card-header-mobile {
    background: #1A237E;
    color: #fff;
    margin: 0;
    padding-top: 20px;
    padding-right: 30px;
    border-radius: 5px;
    min-width: 272px;
}

.movie-title-mobile {
    font-size: 27px;
    max-width: 50vw;
}

.movie-subtitle-mobile {
    font-size: 17px;
    color: #E1F5FE;
    text-align: left;
    white-space: nowrap;
}

.rating-mobile {
    font-size: 25px;
    white-space: nowrap;
}

.movie-mobile {
    margin: 0;
    padding: 16px 0;
    border-radius: 5px;
    border: 2px solid #000;
    min-width: 299px;
}


.description-mobile {
    font-size: 15px;
    text-align: justify;
    padding: 10px 30px;
}