<div class="container-fluid">
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" *ngIf="registerForm">
    <mat-form-field class="full-width">
      <input matInput [placeholder]="registerTexts.email[selectedLang]" formControlName="email"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [placeholder]="registerTexts.firstName[selectedLang]" formControlName="firstName"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [placeholder]="registerTexts.lastName[selectedLang]" formControlName="lastName"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [placeholder]="registerTexts.password[selectedLang]" formControlName="password" type="password"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [placeholder]="registerTexts.confirmPassword[selectedLang]" formControlName="confirm-password" type="password"
        [errorStateMatcher]="matcher">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">{{registerTexts.register[selectedLang]}}</button>
  </form>
</div>